@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E3DFBA;
    box-sizing: border-box;
}

.container-header{
    height: 5.625rem;
    background-color: #6CBDB5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-nav-bar{
   width: 43.75rem; 
   display: flex;
   justify-content: space-between; 
}

.link{
    text-decoration: none;
    font-size: 2rem;
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container-main{
    display: flex;
    flex-direction: row;
    padding: 10% 0% 10% 10%;
    align-items: center;
    justify-content: space-between;
}

.container-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.25rem;
    gap: 2.5rem;
}
 
.conteudo-principal{
    background-color: #C8D6BF;
    padding: 15% 20% 30% 20%;
    border-radius: 58px;
}

.div-texto-0{
    width: 31.25rem;
}

.texto-0{
    font-size: 2rem;
    font-weight: 400;
    line-height: 41.6px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

.texto-1{
    font-size: 1.5rem;
    font-family: 'Kalam', cursive;
}

.div-da-imagem-com-texto{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.div-texto-2{
    display: flex;
    justify-content:center;
    width: 490px;
}

.texto-2{
    font-size: 1.5rem;
    font-family: 'Kalam', cursive;
    text-align: center;
}
.foto-1{
    width: 440px;
    height: 500px;
    border-radius: 58px;
}

.container-footer{
    background-color: #93CCC6;
    height: 4.3125rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.texto-3{
    font-size: 2.25rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

@media(max-width:1200px){
    .container-nav-bar{
        gap: 20px;
    }

    .container-header{
       padding: 0% 4%;
    }

    .link{
        font-size: 1rem;
    }

    .container-main{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

@media(max-width:872px){
    .container-main{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-section{
        width: 200px;
        margin-right: 38px;
    }

    .conteudo-principal{
        padding: auto;
    }

    .div-texto-0{
        width: 20.25rem;
    }
    .texto-2{
        width: 300px;
        font-size: 1rem;
    }
    .foto-1{
       
        width: 350px;
        border-radius: 0%;
    }
}